@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
}
a {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  margin: auto;
  padding-bottom: 1px;
  color: black;
  text-decoration: none;
}
#container {
    border: 15px dashed #FF2776;
    background: #FFFC2A;
    height: 100vh;
    text-align: center;
}
#header {
    display: flex;
    height: 50px;
    margin: 15px;
    width: 100%;
}
.title {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #FF2776;
    margin: 10px;
    align-items: center;
}
.dashboard-container {
  margin-top: 35px;
  flex-direction: row;
  display: flex;
}
.settings-link {
  font-size: 15px;
  position: fixed;
  right: 25px;
  top: 17px;
}
.extended-local {
  margin-left: 2px;
  font-size: 16px;
}
.home-link {
  font-size: 20px;
  display: inline-block;
  margin-left: 25px;
}
.day {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0;
  border-top: 5px solid #FF2776;
}
#name {
  margin: 10px 0;
  margin-left: 40%;
  font-size: 20px;
}
.weekday {
  margin-left: 5px;
}
.pinned-weather {
  display: flex;
  height: 80px;
  width: 30%;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: -5px 5px 5px #888888;
}
.current-forecast {
  display: flex;
  align-items: center;
  width: 65%;
  font-size: 14px;
  bottom: 0;
}
.month-name, .month-date, .year, .temp-high, .temp-low {
}
.icon {
  align-self: flex-end;
}
.pinned-weather {
    height: 100px;
}
.pinned-weather, .link {
    margin: 10px;
}
#input-container, .cities {
   padding-top: 20px;
   padding-bottom: 20px;
   display: flex;
   height: 60px;
   width: 400px;
   margin: auto;
   align-items: center;
   justify-content: space-between;
}
#submitbtn, #deletebtn {
    font-size: 13px;
    width: 120px;
    height: 48px;
    color: white;
    margin-left: 20px;
    border-radius: 5%;
    border-color: #2785FF;
    border-width: 8px;
    background-color: #23D831;
}
#deletebtn {
  font-size: 12px;
  width: 100px;
  height: 40px;
}
#zip-input {
    height: 30px;
    font-size: 22px;
    outline-color: #24E86E;
    border-radius: 5%;
    padding: 8px;
    text-align: center;
}
input:focus {
    outline-color: #23D831
}
button:focus {
    outline-color: #23D831;
}
button:enabled {
    cursor: pointer;
}
button:disabled {
    cursor: not-allowed;
}
