@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: white;
}
a {
  font-family: 'Lato', sans-serif;
  margin: auto;
  padding-bottom: 1px;
  color: black;
  text-decoration: none;
}
br {
   display: block;
   margin: 10px 0;
}
.city {
  width: 400px;
  display: inline-block;
  position: relative;
  height: 400px;
  border-radius: 5px;
  z-index: -1;
  opacity: .8;
}
.float-image-text {
  display: flex;
  opacity: .8;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
#container {
    border: 15px dashed #FF2776;
    background: #FFFC2A;
    height: 100vh;
    text-align: center;
}
.overall-container {
  position: absolute;
  width: 100%;
}
#header {
  height: 70px;
  width: 70vw;
  border-bottom: solid;
  border-bottom-color: black;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.header-container {
  display: flex;
  background: linear-gradient(aliceblue, 50%, white);
  flex-direction: column;
  align-items: center;
  height: 200px;
}
.title {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: black;
    margin: 12px 0 0 15px;
    align-items: center;
    display: inline-block;
}
.header-background {
  height: 75px;
}
.dashboard-container {
  flex-direction: row;
  display: flex;
  width: 70vw;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  border-top: solid;
}
.settings-link {
  font-size: 15px;
  color: black;
  margin-right: 20px;
}
.home-link {
  font-size: 20px;
  display: inherit;
  text-align: center;
  color: black;
}
.day {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0;
  border-top: 5px solid #FF2776;
}
#name {
  margin: 10px 0;
  margin-left: 40%;
  font-size: 20px;
}
.weekday {
  margin-left: 5px;
}
.pinned-weather {
  font-weight: bolder;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: -5px 5px 5px #888888;
  margin: 10px;
}
.a-pinned {
  width: 400px;
  height: 400px;
  background-color: black;
  opacity: 0.9;
}
.link-container {
  width: 400px;
  height: 400px;
  display: inline;
}
.current-forecast {
  display: flex;
  font-size: 17px;
  bottom: 0;
  color: black;
  height: 115px;
  padding: 13px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center
}
.settings-form {
  border-top: black;
  border-top-style: solid;
  width: 70vw;
  display: flex;
  margin: auto;
  flex-direction: column;
  padding-top: 16px;
}
.month-name, .month-date, .year, .temp-high, .temp-low {
}
.icon {
  align-self: flex-end;
}
.link {
    margin: 10px;
}
#input-container, .cities {
  padding-top: 20px;
  display: flex;
  width: 250px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
#zip-input {
  margin-right: 10px;
  border-radius: 5px;
  border-width: 1px;
}
button {
  font-size: 13px;
}
#deletebtn {
  font-size: 12px;
  width: 75px;
  height: 22px;
  margin: 0 0 0 15px;
}
button:enabled {
    cursor: pointer;
}
button:disabled {
    cursor: not-allowed;
}
.new-city {
  position: relative;
  color: white;
  width: 400px;
  display: flex;
  width: 100%;
  height: 100%;
  top: -403px;
  font-size: 40px;
}
