@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: aliceblue;
}
a {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  margin: auto;
  padding-bottom: 1px;
  color: black;
  text-decoration: none;
}
#container {
    border: 15px dashed #FF2776;
    background: #FFFC2A;
    height: 100vh;
    text-align: center;
}
.overall-container {
  position: absolute;
  width: 100%;
}
#header {
  height: 65px;
  width: 70vw;
  background-color: black;
  position: absolute;
  top: 0;
  left: 16%;
}
.title {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #005ab3;
    margin: 10px;
    align-items: center;
    display: inline-block;
}
.header-background {
  height: 75px;
}
.dashboard-container {
  flex-direction: row;
  display: flex;
  width: 70vw;
  margin: auto;
  margin-top: 70px;
}
.settings-link {
  font-size: 15px;
  position: fixed;
  right: 200px;
  top: 17px;
  color: white;
}
.extended-local {
  margin-left: 2px;
  font-size: 16px;
}
.home-link {
  font-size: 20px;
  display: inherit;
  text-align: center;
}
.day {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0;
  border-top: 5px solid #FF2776;
}
#name {
  margin: 10px 0;
  margin-left: 40%;
  font-size: 20px;
}
.weekday {
  margin-left: 5px;
}
.pinned-weather {
  display: flex;
  height: 80px;
  width: 32%;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: -5px 5px 5px #888888;
  background: #ebebeb;
}
.current-forecast {
  display: inline-block;
  align-items: center;
  font-size: 14px;
  bottom: 0;
  color: white;
}
.month-name, .month-date, .year, .temp-high, .temp-low {
}
.icon {
  align-self: flex-end;
}
.pinned-weather {
    height: 100px;
}
.pinned-weather, .link {
    margin: 10px;
}
#input-container, .cities {
  padding-top: 20px;
   display: flex;
   width: 188px;
   margin: auto;
}
#submitbtn, #deletebtn {

}
button {
  font-size: 13px;
}
#deletebtn {
  font-size: 12px;
  width: 100px;
  height: 40px;
}
button:enabled {
    cursor: pointer;
}
button:disabled {
    cursor: not-allowed;
}
